html,body,div,a,li,p{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
   background-color: darkcyan;
}

nav{
    background-color: white;
    padding: 0.3em 0;
}

.contentfield{
    background-color: white;
    width:60%;
    height: auto;
    margin: 0 auto;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7em;
    padding-bottom: 7em;
}
.container{
    margin-top:7%;
    width:inherit;
    border:1px solid gray;
    box-shadow: 5px 5px 20px #888888;
    border-radius: 5px;
}
header{
    
    display:flex;
    justify-content: space-between;
}


.navbar{
    display:flex;
    justify-content: space-between;
}

.search{
    display:flex;
    justify-content: flex-end;
}

.searchbox{
    width:30em;
}

.box-image{
   width:100%;
   max-height: 20em;
}
.profile{
    padding: 3px;
    width: 1.5em;
}
.navbarProfile{
    width: 1.5em;
    padding-right: 15px;
}
.like-button{
    width: 1.5em;
    padding-bottom: 5px;
    padding-top: 6px;
    padding-left: 10px;
}
.logo{
    width: 2em;
    padding-left: 15px;
}
.comment{
    padding: 10px;
}
.datetime{
    padding: 5px;
}
.button{
    background-color: darkcyan;
    color: white;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
#login{
    width: 25%;
    min-width: 500px;
    background-color: white;
    height: auto;
    margin: 0 auto;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 5%;
}
#login div{
    width: 50%;
    height: auto;
    margin: 0 auto;
    display:flex;
    align-items: center;
    flex-direction: column;
}
#login div form{
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
}
br ~ form input{
    padding: 7px;
    margin: 3px;
    width: 100%;
}
input + input + button{
    background-color: forestgreen;
    color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 3px;
}
#login > div > h2{
    line-height: 0px;
}